In [ ]:
#print Statement  (Output should be as below)
HOPE AI

In [1]:
print("HOPE AI")

HOPE AI

In [ ]:
# Buy input  (Output should be as below)
Enter your institute name? : HOPE AI

In [3]:
Institute=input("Enter your institute name? :")

Enter your institute name? :HOPE AI

In [ ]:
#Buy inputs  (Output should be as below)
Enter your name: Raj
Enter your age: 15
Enter your school name: Guru school
Enter your drgree: B.E CSE

In [6]:
Name=input("Enter your name :")
Age=input("Enter your age :")
Schoolname=input("Enter your school name :")
Degree=input("Enter your drgree :")

Enter your name :Raj
Enter your age :15
Enter your school name :Guru school
Enter your drgree :B.E CSE

In [ ]:
#Addition  (Output should be as below)
a= 43
b= 34
add = 77

In [7]:
a=43
b=34

In [8]:
add=(a+b)

In [9]:
print(add)

77

In [23]:
print("a= 43")
print("b= 34")
print("add=",add)

a= 43
b= 34
add= 77

In [12]:
a=int(input("Enter the num :"))

Enter the num :43

In [13]:
b=int(input("Enter the num :"))

Enter the num :34

In [14]:
add=a+b

In [16]:
print(a)
print(b)
print(add)

43
34
77

In [17]:
print("a=43")
print("b=34")
print("add=77")

a=43
b=34
add=77

In [ ]:
#Subtraction (Output should be as below)
a= 43
b= 34
Sub = 9

In [25]:
a= 43
b= 34
Sub=a-b

In [26]:
print("a= 43")
print("b= 34")
print("Sub =",Sub)

a= 43
b= 34
Sub = 9

In [ ]:
#Multiplication (Output should be as below)
a= 63
b= 97
Mul = 6111

In [27]:
a= 63
b= 97
Mul=a*b

In [28]:
print("a= 63")
print("b= 97")
print("Mul =",Mul)

a= 63
b= 97
Mul = 6111

In [ ]:
#Division (Output should be as below)
a= 76
b= 31
Float Div = 2.4516129032258065

In [31]:
a= 76
b= 31
Floatdiv=a/b

In [32]:
print("a= 76")
print("b= 31")
print("Floatdiv =",Floatdiv)

a= 76
b= 31
Floatdiv = 2.4516129032258065

In [ ]:
#Floor division (Output should be as below)
a= 76
b= 31
Floor Div = 2

In [35]:
a= 76
b= 31
Floordiv=a//b

In [36]:
print("a= 76")
print("b= 31")
print("Floordiv =",Floordiv)

a= 76
b= 31
Floordiv = 2

In [ ]:
#Modulo (Output should be as below)
a= 76
b= 31
Modulo = 14

In [37]:
a= 76
b= 31
Modulo =a%b

In [38]:
print("a= 76")
print("b= 31")
print("Modulo =",Modulo)

a= 76
b= 31
Modulo = 14

In [ ]:
#Power (Output should be as below)
a= 4
b= 4
Power = 256

In [51]:
base = 4
power = 4
result = pow(base,power)
print()

In [49]:
a = 4
b = 4
Power = pow(a,b)

In [50]:
print("a= 4")
print("b= 4")
print("Power =",Power)

a= 4
b= 4
Power = 256